.idea

*__pycache__*
venv/
.DS_Store
/.coverage


*.env
!*.secret
secrets-*.yml
.gitsecret/keys/random_seed

scraper/static/
scraper/media/
gcloud-credentials.json

service-account.json
*.service-account.json

datab.sql